h3 {
	margin-top: 20px;
	margin-left: 20px;
}

.mask, .question, .answer {
	margin-bottom: 3px;
	margin-right: 10px;
	display: block;
}

.attribue {
/* 	display: inline-block; */
	padding-left: 10px;
}

.mask {
	margin-left: 20px;
}

.question {
	margin-left: 30px;
}

.answer {
	margin-left: 40px;
}

.clickable {
	cursor: pointer;
	text-decoration: underline;
}

.small-icon {
	float: right;
	width: 16px;
	height: 16px;
	font-size: 16px;
	margin-left: 5px;
}

.mod {
	color: black;
	background-color: #ffc107;
}

.del {
	color: white;
	background-color: #c62828;
}

.add {
	color: white;
	background-color: #2e7d32;
}

.reset {
	color: black;
	background-color: white;
}
