<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
		<mat-toolbar><img src="assets/logo.png" width="120px">
			<span class="example-spacer"></span>
		</mat-toolbar>

		<mat-nav-list *ngIf="menuView">
			<!-- Home -->
			<a mat-list-item [routerLink]="'/home'" [routerLinkActive]="'selected'" role="menuItem">
				<mat-icon aria-hidden="false">home</mat-icon>
				<div i18n="@@menuHome">Home</div>
			</a>
			<!-- GeoObjects -->
			<a mat-list-item [routerLink]="'/masks/geo-object-list'" [routerLinkActive]="'selected'" role="menuItem">
				<mat-icon aria-hidden="false">dashboard</mat-icon>
				<div i18n="@@menuGeoObjects">Elementi di Rete</div>
			</a>
			<!-- maskAnags -->
			<a mat-list-item [routerLink]="'/masks/mask-list'" [routerLinkActive]="'selected'" role="menuItem">
				<mat-icon aria-hidden="false">fact_check</mat-icon>
				<div i18n="@@menuMaskAnags">Anagrafica Maschere</div>
			</a>
		</mat-nav-list>

		<pmf-changeset *ngIf="!menuView"></pmf-changeset>

	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
				*ngIf="isHandset$ | async">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<span i18n="@@siteHeader">Pannello Modifica Formule</span>
			<span style="flex: 1 1 auto;"></span>
			<button mat-icon-button (click)="toggleView()">
				<mat-icon *ngIf="menuView">account_tree</mat-icon>
				<mat-icon *ngIf="!menuView">menu</mat-icon>
			</button>
			<button mat-icon-button [matMenuTriggerFor]="menu">
				<mat-icon>language</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<a href="../it"><button mat-menu-item>Italiano</button></a>
				<a href="../en"><button mat-menu-item>English</button></a>
			</mat-menu>
		</mat-toolbar>
		<div class="contenuto">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
