<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer class="sidenav" fixedInViewport="false"
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
		[opened]="(isHandset$ | async) === false">
		<mat-toolbar><img src="assets/logo.png" width="120px">
			<span class="example-spacer"></span>
		</mat-toolbar>
		<pmf-changeset></pmf-changeset>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
				*ngIf="isHandset$ | async">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<span i18n="@@siteHeader">Pannello Modifica Formule</span>

			<button mat-button [routerLink]="'/home'" i18n="@@menuHome" [routerLinkActive]="'selected'">
				<mat-icon aria-hidden="false">home</mat-icon>Home
			</button>
			<button mat-button [routerLink]="'/masks/geo-object-list'" i18n="@@menuGeoObjects"
				[routerLinkActive]="'selected'">
				<mat-icon aria-hidden="false">dashboard</mat-icon>Elementi di Rete
			</button>
			<button mat-button [routerLink]="'/masks/mask-list'" i18n="@@menuMaskAnags" [routerLinkActive]="'selected'">
				<mat-icon aria-hidden="false">fact_check</mat-icon>Maschere
			</button>
			<span style="flex: 1 1 auto;"></span>

			<button mat-icon-button [matMenuTriggerFor]="menu">
				<mat-icon>language</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<a href="../it"><button mat-menu-item>Italiano</button></a>
				<a href="../en"><button mat-menu-item>English</button></a>
			</mat-menu>
		</mat-toolbar>
		<div class="contenuto">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
