<h1 *ngIf="editMode">Modifica Dati Maschera</h1>
<h1 *ngIf="!editMode">Creazione nuova Maschera</h1>

<form [formGroup]="maskAnagForm" novalidate>

<mat-card>
	<mat-card-content>
			<input type="hidden" name="id"> 
			<div class="row">
				<div class="col" class="full-width">
					<pmf-input-element [form]="maskAnagForm" name="code" label="Codice"></pmf-input-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-input-element [form]="maskAnagForm" name="description" label="Descrizione"></pmf-input-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-input-element [form]="maskAnagForm" name="tisp" label="Tisp"></pmf-input-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-select-element [form]="maskAnagForm" name="paymentList" label="Lista compensi" [options]="paymentLists" view="code"></pmf-select-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-select-element [form]="maskAnagForm" name="techSite" label="Sito tecnico" [options]="techSites" view="code"></pmf-select-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-select-element [form]="maskAnagForm" name="tecnicalMask" label="Maschera tecnica" [options]="flags"></pmf-select-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-input-element [form]="maskAnagForm" name="version" label="Versione"></pmf-input-element>
				</div>
			</div>
	</mat-card-content>

	<mat-accordion>
		<div *ngFor="let questionForm of questionControls(); let i=index" formArrayName="questions">
		<mat-expansion-panel *ngIf="questionFormGroup(i).controls['id']?.value >= 0" class="row" [formGroupName]="i">
			<mat-expansion-panel-header>
				<mat-panel-title><strong>DOMANDA: {{questionFormGroup(i).controls['code']?.value}}</strong></mat-panel-title>			
				<mat-icon class="delete-button" (click)="removeQuestion(i, $event)">remove_circle</mat-icon>
			</mat-expansion-panel-header>
			<input type="hidden" name="id"> 
			<div class="row">
				<div class="col" class="full-width">
					<pmf-input-element [form]="questionForm" name="code" label="Codice"></pmf-input-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-input-element [form]="questionForm" name="description" label="Descrizione"></pmf-input-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-input-element [form]="questionForm" name="priority" label="Priorit&agrave;" type="number"></pmf-input-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-select-element [form]="questionForm" name="category" label="Categoria" [options]="categories" view="infoValue"></pmf-select-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-select-element [form]="questionForm" name="type" label="Tipo" [options]="questionTypes" view="infoValue"></pmf-select-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-select-element [form]="questionForm" name="dataType" label="Tipo di dato" [options]="dataTypes" view="infoValue"></pmf-select-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-input-element [form]="questionForm" name="maxLength" label="Lunghezza massima" type="number"></pmf-input-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-select-element [form]="questionForm" name="measurementUnit" label="Unit&agrave;" [options]="measurementUnits" view="infoValue"></pmf-select-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-input-element [form]="questionForm" name="visibilityCond" label="Condizione di visibilit&agrave;"></pmf-input-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-select-element [form]="questionForm" name="visibilityFlag" label="Visibilit&agrave;" [options]="flags"></pmf-select-element>
				</div>
			</div>	
			<div class="row">
				<div class="col" class="full-width">
					<pmf-select-element [form]="questionForm" name="requiredFlag" label="Richiesto" [options]="flags"></pmf-select-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-select-element [form]="questionForm" name="modFlag" label="modFlag" [options]="flags"></pmf-select-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-select-element [form]="questionForm" name="copyFlag" label="Copia" [options]="flags"></pmf-select-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-input-element [form]="questionForm" name="note" label="Nota"></pmf-input-element>
				</div>
			</div>
			<mat-accordion>
				<div *ngFor="let answerForm of answerControls(i); let j=index" formArrayName="answers">
				<mat-expansion-panel *ngIf="answerFormGroup(i, j).controls['id']?.value >= 0" class="row" [formGroupName]="j">
					<mat-expansion-panel-header>
						<mat-panel-title><strong>RISPOSTA: {{answerFormGroup(i, j).controls['code']?.value}}</strong></mat-panel-title>
						<mat-icon class="delete-button" (click)="showMetricCalculations(answerFormGroup(i, j).controls['code'].value, $event)" title="Visualizza la lista delle presazioni">view_list</mat-icon>
						<mat-icon class="delete-button" (click)="removeAnswer(i, j, $event)" title="Elimina questa risposta">remove_circle</mat-icon>
					</mat-expansion-panel-header>
					<input type="hidden" name="id"> 
					<div class="row">
						<div class="col" class="full-width">
							<pmf-input-element [form]="answerForm" name="code" label="Codice"></pmf-input-element>
						</div>
					</div>
					<div class="row">
						<div class="col" class="full-width">
							<pmf-input-element [form]="answerForm" name="description" label="Descrizione"></pmf-input-element>
						</div>
					</div>
					<div class="row">
						<div class="col" class="full-width">
							<pmf-select-element [form]="answerForm" name="defaultAns" label="Risposta default" [options]="flagsPlus"></pmf-select-element>
						</div>
					</div>
					<div class="row">
						<div class="col" class="full-width">
							<pmf-input-element [form]="answerForm" name="priority" label="Priorit&agrave;" type="number"></pmf-input-element>
						</div>
					</div>
					<div class="row">
						<div class="col" class="full-width">
							<pmf-input-element [form]="answerForm" name="type" label="Tipo"></pmf-input-element>
						</div>
					</div>
					<div class="row">
						<div class="col" class="full-width">
							<pmf-input-element [form]="answerForm" name="visibilityCond" label="Condizione di visibilit&agrave;"></pmf-input-element>
						</div>
					</div>
					<div class="row">
						<div class="col" class="full-width">
							<pmf-select-element [form]="answerForm" name="category" label="Categoria" [options]="categories" view="infoValue"></pmf-select-element>
						</div>
					</div>
					<div class="row">
						<div class="col" class="full-width">
							<pmf-select-element [form]="answerForm" name="executor" label="Esecutore" [options]="executors" view="infoValue"></pmf-select-element>
						</div>
					</div>
					<div class="row">
						<div class="col" class="full-width">
							<pmf-input-element [form]="answerForm" name="citAnag" label="Cit" type="number"></pmf-input-element>
						</div>
					</div>

					<div class="row">
						<div class="col" class="full-width">
							<pmf-input-element [form]="answerForm" name="lowLimit" label="Limite inferiore" type="number"></pmf-input-element>
						</div>
					</div>
					<div class="row">
						<div class="col" class="full-width">
							<pmf-input-element [form]="answerForm" name="highLimit" label="Limite superiore" type="number"></pmf-input-element>
						</div>
					</div>
					
					<div class="row">
						<div class="col" class="full-width">
							<pmf-input-element [form]="answerForm" name="note" label="Nota"></pmf-input-element>
						</div>
					</div>
				</mat-expansion-panel>
				</div>
			</mat-accordion>
			<mat-card-content>
				<mat-card-actions>
					<button mat-raised-button color="primary" type="button" (click)="addAnswer(i)">Aggiungi Risposta</button>
				</mat-card-actions>
			</mat-card-content>
		</mat-expansion-panel>
		</div>
	</mat-accordion>

	<mat-card-content>
		<mat-card-actions>
			<button mat-raised-button color="primary" type="button" (click)="addQuestion()">Aggiungi Domanda</button>
			<button mat-raised-button color="primary" type="button" (click)="onSubmit()">Salva</button>
		</mat-card-actions>
	</mat-card-content>
</mat-card>

</form>
