.full-width {
	width: 100%;
}

.delete-button {
	padding-right: 20px;
}

.question {
	background-color: #e3f2fd;
}

.answer {
	background-color: #bbdefb;
}

.edit {
	right: 20px;
	top: 20px;
	left: auto;
	position: absolute;
	z-index: 2;
}