<h1 *ngIf="editMode">Modifica Elemento di Rete</h1>
<h1 *ngIf="!editMode">Creazione nuovo Elemento di Rete</h1>

<mat-card *ngIf="data">
	<mat-card-content>
		<form [formGroup]="geoObjectForm" novalidate>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-input-element [form]="geoObjectForm" name="id" label="Identificativo" type="number"></pmf-input-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-input-element [form]="geoObjectForm" name="code" label="Codice"></pmf-input-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-input-element [form]="geoObjectForm" name="description" label="Descrizione"></pmf-input-element>
				</div>
			</div>
			<div class="row">
				<div class="col" class="full-width">
					<pmf-input-element [form]="geoObjectForm" name="version" label="Versione"></pmf-input-element>
				</div>
			</div>
			
			<mat-divider></mat-divider>

			<div formArrayName="masks">
				<div *ngFor="let comp of maskControls(); let i=index" class="row" [formGroupName]="i">
					<div class="col" class="full-width">
						<pmf-input-element [form]="comp" name="order" label="Ordine" type="number"></pmf-input-element>
					</div>
					<div class="col" class="full-width">
						<pmf-input-element [form]="comp" name="type" label="Tipologia"></pmf-input-element>
					</div>
					<div class="col" class="full-width">
						<pmf-input-element [form]="comp" name="mask" label="Maschera"></pmf-input-element>
					</div>
					<div class="col">
						<button mat-raised-button color="accent" type="button" (click)="onRemoveMask(i)">Rimuovi</button>
					</div>            
				</div>            
			</div>
		</form>

		<mat-divider></mat-divider>

		<form [formGroup]="addMaskForm" novalidate (ngSubmit)="onAddMask()">
			<div class="row">
				<div class="col" class="full-width">
					<pmf-input-element [form]="addMaskForm" name="order" label="Ordine" type="number"></pmf-input-element>
				</div>
				<div class="col" class="full-width">
					<pmf-select-element [form]="addMaskForm" name="type" label="Tipologia" [options]="maskRelationTypes" view="infoValue" get="infoValue"></pmf-select-element>
				</div>
				<div class="col" class="full-width">
					<mat-form-field class="full-width">
						<input formControlName="mask" type="text" placeholder="Maschera" matInput [matAutocomplete]="autoMask">
						<mat-autocomplete autoActiveFirstOption #autoMask="matAutocomplete">
							<mat-option *ngFor="let m of masksAutoComplete$ | async" [value]="m.code">{{ m.code }} - {{ m.description | titlecase}}</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</div>
				<div class="col">
					<button mat-raised-button color="basic" type="submit" [disabled]="!addMaskForm.valid">Aggiungi</button>
				 </div>
			</div>
		</form>

		<mat-divider></mat-divider>

		<mat-card-actions>
			<button mat-raised-button color="primary" type="button" (click)="onSubmit()">Salva</button>
		</mat-card-actions>

	</mat-card-content>
</mat-card>
