<h1 i18n="@@maskAnags-pageTitle">Lista delle Anagrafiche delle
	Maschere</h1>

<form>
	<mat-form-field>
		<mat-label i18n="@@maskAnags-labelPayment">Compenso</mat-label>
		<mat-select name="compenso" [(value)]="paymentList" (ngModelChange)="ricaricaDati()">
			<mat-option *ngFor="let pl of paymentLists" [value]="pl.id">{{pl.code}}</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<mat-label i18n="@@maskAnags-labelFilter">Filtro</mat-label>
		<input matInput i18n-placeholder="@@maskAnags-placeholderFilter" placeholder="Filtra per codice o descrizione" name="filtro" [(ngModel)]="filtro" (ngModelChange)="applicaFiltro()">
	</mat-form-field>
</form>

<div class="mat-elevation-z8">
	<table mat-table [dataSource]="dataSource" matSort
		multiTemplateDataRows>

		<ng-container matColumnDef="code">
		<th mat-header-cell *matHeaderCellDef mat-sort-header
			i18n="@@maskAnags-code">Codice</th>
		<td mat-cell *matCellDef="let element" [title]="element.id"><a
			[routerLink]="['/masks/mask-details/', element.id]"><strong>{{element.code}}</strong></a>
		</td>
		</ng-container>

		<ng-container matColumnDef="description">
		<th mat-header-cell *matHeaderCellDef mat-sort-header
			i18n="@@maskAnags-description">Descrizione</th>
		<td mat-cell *matCellDef="let element">{{element.description}}</td>
		</ng-container>

		<ng-container matColumnDef="tisp">
		<th mat-header-cell *matHeaderCellDef mat-sort-header
			i18n="@@maskAnags-tisp">TISP</th>
		<td mat-cell *matCellDef="let element">{{element.tisp}}</td>
		</ng-container>

		<ng-container matColumnDef="tecnicalMask">
		<th mat-header-cell *matHeaderCellDef mat-sort-header
			i18n="@@maskAnags-technicalMask">Maschera tecnica</th>
		<td mat-cell *matCellDef="let element">{{element.tecnicalMask}}</td>
		</ng-container>

		<ng-container matColumnDef="version">
		<th mat-header-cell *matHeaderCellDef i18n="@@maskAnags-version">Versione</th>
		<td mat-cell *matCellDef="let element">{{element.version}}</td>
		</ng-container>

		<ng-container matColumnDef="expandedDetail">
		<td mat-cell *matCellDef="let element"
			[attr.colspan]="displayedColumns.length">
			<div class="element-detail" 
				[@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
				<div style="width: 100%;">
					<pmf-question-list [data]="questionsAnswers"></pmf-question-list>
				</div>
			</div>
		</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"
			(click)="espandiMaschera(row)"></tr>
		<tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
			class="detail-row"></tr>
	</table>
	<mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

</div>