table {
	width: 100%;	
}

a {
	color: black;
	margin-right: 5px;
	display: block;
}

tr.detail-row {
	height: 0;
}

.element-detail {
	overflow: hidden;
	display: flex;
}

.mat-header-cell {
	cursor: default;
	background-color: #d2c2fd;
}

.mat-cell {
	cursor: pointer;
}